.central {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    row-gap: 1px;
    column-gap: 1px;
    margin-left: 200px;
    margin-right: 200px;

  }

  img { 
      width: 90%;
      margin-bottom: 0px;
  }
  p {
        margin-left: 10px;
        margin-right: 50px;
        text-align: justify;
        font-size: 12.5pt;
        margin-top: 10px;
}
h2 {
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 8px;
    font-size: 12.5pt;
    font-weight: normal;   
    color: aqua; 
}

h1 {
    text-align: center;
    color: lightcoral;
}